body{
    background-color: #4F5A65;
    font-family: 'Arial';
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Arial';
}

/* Button */
.btn-primary {
    background-color: #053361;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
}